@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #00BFA6;
    color:black;
    text-align: center;
    align-items: center;
}
.container{
    align-items: center;
    text-align: center;  
    display:flex;
    flex-direction: column;
    width: 99vw;
}
.error-message{
    color  : black;
}
input{  
    border-radius: 10px;
    text-align: center;
}
button{
    margin:10px;
    border-radius: 0.5rem;
}


table{
    border-color: black;
    text-align: center;
}

td{
    border: 2.5px solid black;
    border-color: black;
    text-align: center;
    padding: 1rem;
}
th{border: 1px solid black;
    border-color: black;
    text-align: center;
}

.output{
    margin:1px 0px 30px;
    border: 2px solid black;
    display:flex;
    flex-direction:column;
    width: 15vw;
    height:3vw;
    text-align: center;
    font-size: large;
}
footer {
    text-align: center;
  }

.link
{
    text-decoration: none;
    padding:.3rem 2rem;
} 
  .list-non-bullet
{
    list-style:none;    
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}
   
  img {
    padding: 1rem .2rem;
  }